/* PC、スマホ共通スタイル */
body {
    font-family: 'Didact Gothic', sans-serif;
}

p {
    font-size: 15px;
}

/*============= 
PC用のスタイル 
==============*/
/* 横幅設定 */
body {
    min-width: 960px;
    margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
    text-align: center;
}