/* PC、スマホ共通スタイル */
body {
    font-family: 'Didact Gothic', sans-serif;
}

p {
    font-size: 15px;
}

/*============= 
PC用のスタイル 
==============*/
/* 横幅設定 */
body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
    text-align: center;
    margin-top: 50px;
}
header > h1 {
    margin-left: 20px;
}

/* ナビゲーションのレイアウト */
#nav-pc > a:link {
    text-decoration: none;
    margin-left: 20px;
}

#nav-pc > a:visited {
    color: #0d0d0d;   
}

#nav-pc > a:hover {
    color: #0d0d0d;
    text-decoration: underline;
}

#nav-pc > a:active {
    color: #0d0d0d;
}