@charset "utf-8";

/* 
* *********************************
*　ページ全体に関わるのCSS設定 
* *********************************
*/
html *,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: #555555;
}

/* 標準的なリンクのテキストの色 */
a {
    color: #f30;
}
